/*---------------------------------------------*/

input {
    outline: none;
    border: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #adadad;
}

input:-moz-placeholder {
    color: #adadad;
}

input::-moz-placeholder {
    color: #adadad;
}

input:-ms-input-placeholder {
    color: #adadad;
}


/*---------------------------------------------*/

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.container-login100,
.container-login101 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    background: #fff;
}

.wrap-login100,
.wrap-login101 {
    width: 390px;
    background: #fff;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form,
.login101-form {
    width: 100%;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100,
.wrap-input101 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
}

.input100,
.input101 {
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 52px;
    background: transparent;
    padding: 0 5px;
}


/*---------------------------------------------*/

.focus-input100,
.focus-input101 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::before,
.focus-input101::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #0070f3;
}

.focus-input100::after,
.focus-input101::after {
    font-size: 18px;
    color: #999999;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus+.focus-input100::after,
.input101:focus+.focus-input101::after {
    top: -20px;
    font-size: 15px;
}

.input100:focus+.focus-input100::before,
.input101:focus+.focus-input101::before {
    width: 100%;
}

.has-val.input100+.focus-input100::after,
.has-val.input101+.focus-input101::after {
    top: -20px;
    font-size: 15px;
}

.has-val.input100+.focus-input100::before,
.has-val.input101+.focus-input101::before {
    width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn,
.container-login101-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn,
.login101-form-btn {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #0070f3;
    border-radius: 25px;
    box-shadow: 0 10px 30px 0px rgba(0, 112, 243, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(0, 112, 243, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(0, 112, 243, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(0, 112, 243, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(0, 112, 243, 0.5);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover,
.login101-form-btn:hover {
    background-color: #333333;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #0070f3;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;
    color: #0070f3;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

.alert-validate::before {
    visibility: visible;
    opacity: 1;
}


/*//////////////////////////////////////////////////////////////////
[ Login more ]*/

.login-more li {
    position: relative;
    padding-left: 16px;
}

.login-more li::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #cccccc;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}

.img_divs {
    float: left;
}

.collect_div {
    float: left;
}

.rom-file {
    -webkit-appearance: none;
    position: relative;
    margin-bottom: 10px;
    height: 38px;
    font-family: inherit;
    font-size: 13px;
    background: inherit;
    opacity: 0.1;
    top: -10px;
    left: -10px;
}

.rom-file:before {
    content: '';
    display: block;
    min-width: 100%;
    padding: 10px 5px;
    background: inherit;
    cursor: pointer;
    position: absolute;
    right: 0;
    left: 0;
}

.debug .nes {
    width: 256px;
    height: 240px;
}

.debug .nametable {
    display: inline-block !important;
}

canvas {
    display: block;
    margin: auto;
}

.controls {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.controls [type=button],
.controls .button {
    border: none;
    background: black;
    color: inherit;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 1em;
    padding: 3px;
    min-width: 1em;
    cursor: pointer;
    position: relative;
    height: 1.5em;
}

.controls [type=button].enabled,
.controls .button.enabled {
    background: #333333;
}

.controls .button img {
    width: 1em;
    height: 1em;
    margin: 3px;
}

.controls .button.controller img {
    width: 1.5em;
    height: 1.5em;
    margin: 0 3px;
}

.controls .button.open {
    width: 1em;
    height: 1em;
    overflow: hidden;
}

.controls .button.open img {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.controls [type=button]:hover,
.controls .button:hover {
    background: #666;
}

.controls .fas {}

.controls [type=button]:active,
.controls .button:active {
    background: #ccc;
}

.controls [type=range] {
    -webkit-appearance: none;
    height: 0.3em;
    background: #999;
    width: 80px;
    vertical-align: baseline;
}

.controls [type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: white;
    width: 0.5em;
    height: 1em;
}

.controls input {
    cursor: pointer;
    outline: none !important;
}

html {
    height: 100%;
}

body {
    font-family: Tahoma, Sans Serif;
    background-color: #ccc;
    background-image: linear-gradient(#cef, #acf, #acf, #7bc);
    background-attachment: fixed;
}

.emulator {
    background: black;
    border: 2px solid white;
    border-radius: 7px;
    margin-top: 20px;
    box-shadow: 0 0 13px rgba(0, 50, 100, 0.5);
    color: white;
    display: inline-block;
    overflow: hidden;
    height: 516px;
}

#main_table_body td {
    max-width: 200px;
    white-space: nowrap;
    color: #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* .fullscreen * {
  display: none !important;
} */

.fullscreen .nes,
.fullscreen .emulator {
    display: block !important;
}


/* .fullscreen {
  background: black;
  background-image: none;
} */

.fullscreen .emulator {
    display: block !important;
    position: absolute !important;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.overlay {
    color: black;
    background: white;
    padding: 20px;
    width: 230px;
    margin: auto;
    position: fixed;
    top: 150px;
    left: calc(50vw - 135px);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2em;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    margin: 20px auto;
    display: flex;
    padding: 5px 15px;
    color: rgba(0, 30, 50, 0.3);
}

h2 a {
    color: inherit;
    margin-right: 10px;
    font-size: 1.5em;
}

h2 a:hover,
h2 span:hover {
    color: rgba(0, 30, 50, 0.5);
}

h2 span {
    width: 100%;
    cursor: pointer;
    padding-top: 10px;
    text-align: right;
}

.text {
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #5239c7;
    margin: 0;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}


/* Create a style for the first level items */

nav>ul>li>a {
    color: #ddd !important;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
    cursor: pointer;
}

.game-title {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    color: #eee;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.game-font {
    font-weight: bold;
    color: #e0e0e0;
}

.select-picture {
    cursor: pointer;
}

.select-picture:hover {
    box-shadow: 0px 0px 25px rgb(32, 0, 90);
}

.register {
    /*background: -webkit-linear-gradient(left, #3931af, #00c6ff);*/
    margin-top: 3%;
    padding: 3%;
}

.register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

.register-left input {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}

.register-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.register-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

.register-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.register .register-form {
    padding: 10%;
    margin-top: 10%;
}

.btnRegister {
    text-align: center;
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.register .nav-tabs .nav-link {
    padding: 1%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register .nav-tabs .nav-link.active {
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

.loader {
    position: fixed;
    left: calc(50% - 60px);
    top: 300px;
    z-index: 100;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.play-btn {
    width: 40px;
    height: 40px;
    background: radial-gradient( rgba(27, 88, 255, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: block;
    box-shadow: 0px 0px 25px 3px rgba(72, 127, 247, 0.8);
}


/* triangle */

.play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid #fff;
    z-index: 100;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transform: translateX(-40%) translateY(-50%);
    -ms-transform: translateX(-40%) translateY(-50%);
    -o-transform: translateX(-40%) translateY(-50%);
    -moz-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -ms-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


/* pulse wave */

.play-btn:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .75);
    top: -25%;
    left: -25%;
    background: rgba(198, 16, 0, 0);
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

@-webkit-keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;
    }
}

@keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;
    }
}

.pagination-bar {
    float: right;
    padding-right: 10px;
}

@media only screen and (max-width: 600px) {
    .fullscreen .emulator {
        position: inherit !important;
        top: inherit;
        left: inherit;
        margin: auto;
        height: 260px;
    }
    .fullscreen .nes,
    .nes {
        width: 256px;
        height: 240px;
    }
    .infoview {
        width: 100%;
    }
}

.nav-item .fa {
    font-size: 3em;
}

.nav-link.fabuttons {
    position: relative;
    top: calc(50% - 34px);
}

.nav-item .logomaker {
    width: 100px;
}

.my-logo {
    width: 390px;
}

@media only screen and (max-width: 768px) {
    .my-logo {
        width: 200px;
    }
    .nav-item .logomaker {
        width: inherit;
    }
}

@media only screen and (max-width: 600px) {
    .my-logo {
        width: 400px;
    }
    .nav-item .logomaker {
        width: inherit;
    }
}

@media only screen and (max-width: 400px) {
    .my-logo {
        width: 300px;
    }
    .nav-item .logomaker {
        width: inherit;
    }
}

@media only screen and (min-width: 600px) {
    .fullscreen .nes,
    .nes {
        width: 512px;
        height: 480px;
    }
    .fullscreen .emulator {
        position: inherit !important;
        top: inherit;
        left: inherit;
        margin: auto;
        height: 500px;
    }
}

@media only screen and (min-width: 768px) {
    .fullscreen .nes,
    .nes {
        width: 512px;
        height: 480px;
    }
    .fullscreen .emulator {
        position: inherit !important;
        top: inherit;
        left: inherit;
        height: 506px;
    }
    .col-76812 {
        width: 100%;
        max-width: inherit;
        flex: inherit;
    }
}

@media only screen and (min-width: 992px) {
    .fullscreen .nes,
    .nes {
        width: 512px;
        height: 480px;
    }
    .fullscreen .emulator {
        position: inherit !important;
        top: inherit;
        left: inherit;
        margin: auto;
        height: 510px;
    }
}

@media only screen and (min-width: 1200px) {
    .fullscreen .nes,
    .nes {
        width: 512px;
        height: 480px;
    }
    .fullscreen .emulator {
        position: inherit !important;
        top: inherit;
        left: inherit;
        margin: auto;
        height: 514px;
    }
}

.nav-left-right {
    font-size: 30px;
    color: rgb(236, 236, 236);
    padding: 4px;
}

.scale-div {
    overflow: auto;
}

.color-white {
    color: #eee;
}

.coll-title {
    padding-left: 15px;
}

.scale-div {
    width: 100%;
}

.collect-nav {
    cursor: pointer;
}

tr.odd {
    background-color: #363636 !important;
}

tr.even {
    background-color: #595959 !important;
}

td {
    background: #333;
}

tfoot tr,
thead tr {
    background: #1d1d1d;
    color: #ddd;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #00365a;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #ddd !important;
    background: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #555;
}

.show {
    display: block;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #333;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.card ul li {
    background: #333;
}

.card h6,
.card h4 {
    color: #ddd;
}

.card-body small {
    color: #ddd;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100%!important;
}

.shadow-none {
    box-shadow: none!important;
}

.lds-roller {
    display: none;
    position: fixed;
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
    top: 300px;
    z-index: 9999;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    border: 1px solid #f7f7f7;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn-primary {
    background-color: #595a5b !important;
}